@import "~bootstrap/scss/bootstrap";

@import "base/variables";
@import "base/typography";
@import "base/mixins";

@import "components/logo";
@import "components/buttons";

html, body {
    height: 100vh;
}

nav.fixed-top {
    border-bottom: 2px solid $global;
}

.top-level-row {
    padding-top: 78px;
}

.information-row {
    display: block;
    width: 100%;
    height: 30px;
}

.editor-col {
    border-right: 1px solid $gray;
}

.results-col {
    border-left: 1px solid $gray;
    padding: 0 15px !important;
    overflow: scroll;
}

.result-list {
    margin: 60px 0 0 0;
    padding: 0;

    li {
        list-style: none;
        display: block;
        margin: 0 0 10px 0;
        padding: 0;
        border-left: 5px solid $darkgray;
        border-radius: 5px;

        .result-title {
            display: block;
            color: $white;
            line-height: 1;
            font-weight: 600;
            font-family: $font-family;
            font-size: $base-font-size / 1.2;
            text-transform: uppercase;
            padding: 5px;
            background: $darkgray;
        }

        .result-field {
            display: block;
            padding: 1rem;
            color: $darkgray;
            font-family: $editor-font-family;
            font-weight: 600;
        }

        .result-message {
            display: block;
            padding: 1rem;
        }

        &.failure {
            border-color: $brand-red;
            color: $brand-red;
            .result-title {
                background: $brand-red;
            }
        }

        &.warning {
            border-color: $brand-orange;
            color: $brand-orange;
            .result-title {
                background: $brand-orange;
            }
        }
    }
}