@import "~bootstrap/scss/bootstrap";

@import "base/mixins";
@import "base/variables";
@import "base/typography";

@import "components/nav";
@import "components/logo";
@import "components/buttons";

html, body, #app-container {
  height: 100vh;
}

#control-bar {
  background: $gray-200;
  padding: $control-bar-padding-y;
  font-size: $control-bar-size;
  line-height: $control-bar-line-height;
  height: $control-bar-height;
  margin-top: $nav-offset-height;
  border-bottom: $control-bar-border-width solid $control-bar-border-color;
  button {
    margin: 0;
  }
}

.top-level-row {
  padding-top: $nav-offset-height + $control-bar-height;
}

@media only screen and (max-width: map-get($grid-breakpoints, "md")) {
  #control-bar {
    height: $control-bar-md-height;
  }
  .top-level-row {
    padding-top: $nav-offset-height + $control-bar-md-height;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
  #control-bar {
    margin-top: $nav-sm-offset-height;
  }
  .top-level-row {
    padding-top: $nav-sm-offset-height + $control-bar-md-height;
  }
}

.loading-overlay {
  position: fixed;
  display: flex;
  svg {
    margin: auto;
    path {
      fill: $brand-blue;
    }
  }
  background: rgba($gray-200, 0.3);
  top: $nav-offset-height + $control-bar-height;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $zindex-modal-backdrop;
  @media only screen and (max-width: map-get($grid-breakpoints, "md")) {
    top: $nav-offset-height + $control-bar-md-height;
  }

  @media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
    top: $nav-sm-offset-height + $control-bar-md-height;
  }
}

.information-row {
  margin: 2rem 5rem;
  p {
    margin-top: 4rem;
    color: $gray-500;
    font-size: 1.5rem;

    a {
      text-decoration: none;
    }
  }
  @media only screen and (max-width: map-get($grid-breakpoints, "md")) {
    margin: 2rem 1rem;
  }

}

.editor-col {
  border-right: 1px solid $gray;
}

.results-col {
  border-left: 1px solid $gray;
  padding: 0 15px !important;
  overflow: scroll;

  .result-list {
    margin: 2rem 0 0 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      border-left: 5px solid $darkgray;
      border-radius: 5px;

      .result-title {
        display: block;
        color: $white;
        line-height: 1;
        font-weight: 600;
        font-family: $font-family;
        font-size: $base-font-size / 1.2;
        text-transform: uppercase;
        padding: 5px;
        background: $darkgray;
      }

      .result-field {
        display: block;
        padding: 1rem;
        color: $darkgray;
        font-family: $editor-font-family;
        font-weight: 600;
      }

      .result-message {
        display: block;
        padding: 1rem;
      }

      &.failure {
        border-color: $brand-red;
        color: $brand-red;
        .result-title {
          background: $brand-red;
        }
      }

      &.warning {
        border-color: $brand-orange;
        color: $brand-orange;
        .result-title {
          background: $brand-orange;
        }
      }
    }
  }
}