@import "~bootstrap/scss/bootstrap";

@import "base/mixins";
@import "base/variables";
@import "base/typography";

@import "components/nav";
@import "components/logo";
@import "components/buttons";

@import "pages/about";
@import "pages/home";
@import "pages/rpde";

html, body, #app-container {
  height: 100vh;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
  background: $footer-background;
  border-top: $footer-border-width solid $footer-border-color;
  color: $footer-color;
  .separator {
    margin: 0 .5rem;
    display: inline-block;
  }
  a, a:hover {
    color: $footer-link-color;

    &.feedback-link {
      text-decoration: none;
    }
  }
}

pre code.hljs code {
  border: none;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0;
}