svg {
  .st0logo{fill:$logo-eight;}
  .st1logo{fill:$logo-seven;}
  .st2logo{fill:url(#SVGID_1_);}
  .st3logo{fill:url(#SVGID_2_);}
  .st4logo{fill:$logo-two;}
  .st5logo{fill:$logo-three;}
  .st6logo{fill:$logo-six;}
  .st7logo{fill:$logo-one;}
  .st8logo{fill:$logo-five;}
  .st9logo{fill:$logo-four;}
  .st1logo0{fill:$brand-blue;}
  .st1logo1{fill:$white;}
}