nav.fixed-top {
  border-bottom: $nav-bottom-border-width solid $global;
  background: $white;
  z-index: $zindex-fixed + 1;

  .navbar-brand {
    height: $logo-height;
  }

  .nav-link, .nav-item {
    color: $nav-color !important;
    text-decoration: none;
    font-family: $heading-font-family;
    font-weight: $nav-font-weight;

    &.right {
      margin-right: .5rem;
    }

    a {
      @include transition(initial);
      &.active {
        color: $brand-five !important;
        border-bottom: .2rem solid $brand-five;
        padding-bottom: .3rem;
      }
    }
  }
}
