.home-page {

  #control-bar {
    background: $gray-200;
    padding: $control-bar-padding-y;
    font-size: $control-bar-size;
    line-height: $control-bar-line-height;
    height: $control-bar-height;
    margin-top: $nav-offset-height;
    border-bottom: $control-bar-border-width solid $control-bar-border-color;
    button {
      margin: 0;
    }
  }

  .top-level-row {
    padding-top: $nav-offset-height + $control-bar-height;
    padding-bottom: $footer-height;
  }

  @media only screen and (max-width: map-get($grid-breakpoints, "md")) {
    #control-bar {
      height: $control-bar-md-height;
    }
    .top-level-row {
      padding-top: $nav-offset-height + $control-bar-md-height;
    }
  }

  @media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
    #control-bar {
      margin-top: $nav-sm-offset-height;
    }
    .top-level-row {
      padding-top: $nav-sm-offset-height + $control-bar-md-height;
    }
  }

  .loading-overlay {
    position: fixed;
    display: flex;
    svg {
      margin: auto;
      path {
        fill: $brand-blue;
      }
    }
    background: rgba($gray-200, 0.3);
    top: $nav-offset-height + $control-bar-height;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $zindex-modal-backdrop;
    @media only screen and (max-width: map-get($grid-breakpoints, "md")) {
      top: $nav-offset-height + $control-bar-md-height;
    }

    @media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
      top: $nav-sm-offset-height + $control-bar-md-height;
    }
  }

  .information-row {
    margin: 2rem 5rem;
    p {
      margin-top: 4rem;
      color: $gray-700;
      font-size: 1.5rem;

      a {
        text-decoration: none;
      }
    }
    @media only screen and (max-width: map-get($grid-breakpoints, "md")) {
      margin: 2rem 1rem;
    }

    &.validated {
      svg path {
        fill: $green;
      }
    }

  }

  .result-filters, .result-sort {
    margin-right: 1rem;
    h6 {
      padding-left: 0.25rem;
      padding-top: 0.5rem;
      margin-top: 0;
      color: $gray-600;
    }
    .form-check {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      cursor: pointer;
      svg path {
        fill: $gray-300;
      }
      &.checked svg path {
        fill: $brand-lightblue;
      }
      .form-check-input {
        margin-top: 0;
        display: none;
      }
      .form-check-label {
        cursor: pointer;
        color: $gray-600;
        padding-left: 0.35rem;
      }
    }
  }

  .editor-col {
    border-right: 1px solid $gray;

    .ace_gutter-cell {
      color: #4a4a4a;
    }
  }

  .results-col {
    border-left: 1px solid $gray;
    padding: 0 15px !important;
    overflow: scroll;

    .result-summary, .remove-filters {
      font-weight: 600;
      margin: 1rem 0 0 0;
      color: $gray-700;
      svg {
        margin-right: 0.5rem;
      }
    }

    .remove-filters {
      cursor: pointer;
    }

    .result-list {
      margin: 1rem 0 0 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        margin: 0 0 10px 0;
        padding: 0;
        border: 3px solid $darkgray;
        background: $gray-100;
        cursor: pointer;

        &:hover {
          background: $white;
        }

        .result-icon-circle {
          svg {
            path {
              fill: $gray-500;
            }
            margin-top: 1.5rem;
            margin-left: 1rem;
          }
        }

        .result-title, .result-message-title {
          display: block;
          color: $gray-800;
          font-family: $font-family;
          font-size: $base-font-size;
          padding: 1rem 1rem 0 1rem;
          font-weight: 600;
        }

        .result-field {
          display: block;
          padding: 0.5rem 0 0.5rem 1rem;
          color: $gray-900;
          font-family: $editor-font-family;
          font-weight: 600;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .result-line-col, .more-result-line-col-label {
          display: inline-block;
          padding: 0 1rem;
          color: $gray-800;
          width: 100%;
          // font-family: $editor-font-family;
          // font-weight: 600;
          cursor: pointer;
          text-decoration: none;
          font-size: $base-font-size / 1.2;
        }

        &.item-item {
          .result-line-col {
            margin-bottom: 1rem;
          }
        }

        .more-result-line-col {
          .more-result-line-col-label {
            color: darken($link-color, 35%);
            margin-bottom: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
          .more-result-line-list {
            border: 0.1rem solid $gray-400;
            margin: 0.5rem 0.6rem;
            padding: 0.2rem 0;
            li {
              border: none;
              background: transparent;
              margin: 0;
              padding: 0.2rem 0.4rem;
              display: block;
              width: 100%;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          &.expanded {
            .more-result-line-col-label {
              margin-bottom: 0;
            }
          }
        }

        .result-message {
          display: block;
          padding: 0.5rem 1rem 1rem 1rem;
        }

        &.failure {
          border-color: $brand-red;
        }

        &.warning {
          border-color: $brand-orange;
        }

        &.notice {
          border-color: $brand-lightblue;
        }
      }
    }
  }
}