.rpde-page {
  margin-top: $nav-offset-height;
  padding-bottom: $footer-height + 2rem;

  .jumbotron {
    text-align: center;
    padding-top: 1rem;
    position: relative;
    h1 {
      margin-bottom: 3rem;
    }
    .input-group {
      width: 80%;
      margin: 0 auto;
    }
    .status-text {
      display: block;
      width: 100%;
      font-size: 1.5rem;
      margin: 3rem 0 0 0;
      color: $gray-800;
      &.error {
        color: $brand-red;
      }
      p {
        font-size: 1.5rem;
      }
      .validated {
        svg path {
          fill: $green;
        }
      }
    }

    .percentage {
      position: absolute;
      height: .5rem;
      left: 0;
      bottom: 0;
      background: $brand-five;
    }
  }

  a.error-path {
    display: inline-block;
    font-size: 1.5rem;
    max-width: 100%;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $gray-800;
    &:hover {
      text-decoration: underline;
    }
  }

  .result-list {
    margin: 1.5rem 0 2.5rem 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      border: 3px solid $darkgray;
      background: $white;

      .result-icon-circle {
        svg {
          path {
            fill: $gray-500;
          }
          margin-top: 1.5rem;
          margin-left: 1rem;
        }
      }

      .result-title, .result-message-title {
        display: block;
        color: $gray-800;
        font-family: $font-family;
        font-size: $base-font-size;
        padding: 1rem 1rem 0 1rem;
        font-weight: 600;
      }

      .result-message {
        display: block;
        padding: 0.5rem 1rem 1rem 1rem;
      }

      &.failure {
        border-color: $brand-red;
      }

      &.warning {
        border-color: $brand-orange;
      }

      &.notice {
        border-color: $brand-lightblue;
      }
    }
  }
}