// Colours
$logo-one: #74cbf3;
$logo-two: #009ee3;
$logo-three: #0067b1;
$logo-four: #433d90;
$logo-five: #931e80;
$logo-six: #e11482;
$logo-seven: #e63b2e;
$logo-eight: #f6a635;

$white: #ffffff;
$gray: #ccc;
$darkgray: #777f88;
$black: #2b2b2b;
$brand-red: #B20037;
$brand-blue: #253882;
$brand-darkblue: #0b193e;
$brand-orange: $logo-eight;
$brand-lightblue: $logo-two;

$brand-one: #3B3089;
$brand-two: #146ebb;
$brand-three: #2da6dd;
$brand-four: #64d4f5;
$brand-five: #832b94;
$brand-six: #f2389b;
$brand-seven: #ff4731;
$brand-eight: #ffa244;

$global: $brand-one;
$globalTwo: $brand-two;
$globalThree: $brand-three;
$globalFour: $brand-four;
$globalFive: $brand-five;
$globalSix: $brand-six;
$globalSeven: $brand-seven;
$globalEight: $brand-eight;

@import url('https://fonts.googleapis.com/css?family=Montserrat:700,400|Source+Sans+Pro:300,400,700&subset=latin-ext');

// Font Family
$font-family: 'Source+Sans+Pro', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$editor-font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

// Base Font for HTML
$base-font-size: 16px;
$mobile-base-font-size: 13px;

// Paragraph Styles
$paragraph-color: #5A5A5A;
$paragraph-size: rem(17px);
$paragraph-line-height: 1.5;
$paragraph-margin: 1.3rem;

// Header Styles
$header-color: #253882;
$header-size: rem(45px);
$header-line-height: 1;
$header-margin: $paragraph-margin * 1.2;

//DECORATIVE OR COMPATABLE LAYOUT STYLES FOR SCREENS OVER 1000px

$header-border-color: $brand-one;
$header-border-thickness: 2px;
$header-border-padding: 1rem;
$header-top-margin: 2rem;
$header-padding-bottom: 2rem;

// Blockquote Styles
$blockquote-color: #5A5A5A;
$blockquote-size: rem(18px);
$blockquote-line-height: 1.6;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// Buttons
$button-padding-x: rem(30px);
$button-padding-y: rem(10px);
$button-md-padding-y: rem(15px);
$button-md-padding-x: rem(25px);
$button-margin: 1rem 0 0 0;
$button-line-height: 1;
$button-border-width: 1px;
$button-font-weight: 600;
$button-font-family: $font-family;
$button-font-size: $base-font-size / 1.2;

//Nav Links
$nav-color: $brand-blue;
$nav-font-weight: 400;
$nav-bottom-border-width: 2px;
$logo-height: 62px;

$nav-offset-height: $navbar-padding-y * 2
  + rem($logo-height)
  + rem($nav-bottom-border-width);

$nav-sm-offset-height: $nav-offset-height
  - rem($logo-height)
  + rem($logo-height, $mobile-base-font-size);

$control-bar-background: $gray-200;
$control-bar-padding-y: $navbar-padding-y;
$control-bar-size: $paragraph-size;
$control-bar-line-height: $header-line-height;
$control-bar-border-width: rem(2px);
$control-bar-border-color: $gray-300;
$control-bar-height: $button-line-height * rem($button-font-size)
  + $button-padding-y * 2
  + $control-bar-padding-y * 2
  + rem($button-border-width) * 2
  + $control-bar-border-width;

$control-bar-md-height: $control-bar-height
  - $button-padding-y * 2
  + $button-md-padding-y * 2;

$footer-height: rem(50px);
$footer-background: $gray-100;
$footer-border-width: $control-bar-border-width;
$footer-border-color: $control-bar-border-color;
$footer-color: $gray-700;
$footer-link-color: $gray-800;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;