name: Test and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  repository_dispatch:
    types: [data-models-update, data-model-validator-update, rpde-validator-update]
  workflow_call:
    inputs:
      data-models_ref:
        required: false
        type: string
      data-model-validator_ref:
        required: false
        type: string
      rpde-validator_ref:
        required: false
        type: string
      data-model-validator-site_ref:
        required: false
        type: string
        default: 'refs/heads/master'

jobs:
  test-site:
    runs-on: ubuntu-latest
    outputs:
      lost-pixel-conclusion: ${{ steps.lp.conclusion }}

    steps:
    - name: Use Node.js 18.17.1
      uses: actions/setup-node@v1
      with:
        node-version: 18.17.1

    - name: Checkout validator site
      uses: actions/checkout@v4
      with:
        repository: openactive/data-model-validator-site
        # If this is being called from another workflow, then the data-model-validator-site_ref will be provided or defaulted; otherwise we can assume a different trigger
        ref: ${{ inputs.data-model-validator-site_ref || github.ref }}

    - name: Install validator site
      run: npm install

    - name: Install specific version of data-models ${{ inputs.data-models_ref }}
      if: ${{ inputs.data-models_ref }}
      run: npm install github:openactive/data-models#${{ inputs.data-models_ref }}

    - name: Install specific version of data-model-validator ${{ inputs.data-model-validator_ref }}
      if: ${{ inputs.data-model-validator_ref }}
      run: npm install github:openactive/data-model-validator#${{ inputs.data-model-validator_ref }}

    - name: Install specific version of rpde-validator ${{ inputs.rpde-validator_ref }}
      if: ${{ inputs.rpde-validator_ref }}
      run: npm install github:openactive/rpde-validator#${{ inputs.rpde-validator_ref }}

    - name: Test validator site
      run: npm test
      
    - name: Start server (in background)
      run: npm run start &

    - name: Check for unintentional UI changes with Lost Pixel
      id: lp
      uses: lost-pixel/lost-pixel@v3.22.0

    - name: Upload Lost Pixel artefacts
      uses: actions/upload-artifact@v4
      if: ${{ failure() && steps.lp.conclusion == 'failure' }}
      with:
        name: lost-pixel-artefacts
        path: .lostpixel

  create-pr-to-update-lost-pixel-baseline:
    runs-on: ubuntu-latest
    needs: [test-site]
    # Only run this job on branches other than master; this is to prevent the Lost Pixel baseline from being updated on the master branch.
    # The baseline should only be updated on PRs, not on the master branch.
    if: ${{ github.repository == 'openactive/data-model-validator-site' && failure() && github.ref != 'refs/heads/master' && needs.test-site.outputs.lost-pixel-conclusion == 'failure'}}
    steps:
    - name: Checkout validator site
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Use Node.js 18.17.1
      uses: actions/setup-node@v1
      with:
        node-version: 18.17.1
    - name: Install
      run: npm install
    - name: Test
      run: npm test
    - name: Start server (in background)
      run: npm run start &

    - name: Lost Pixel
      continue-on-error: true
      uses: lost-pixel/lost-pixel@v3.22.0
      env:
        LOST_PIXEL_MODE: update

    # Note this deletes the branch and PR if differences are resolved
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v6
      with:
        path: ./
        token: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
        commit-message: Update lost-pixel baselines
        committer: openactive-bot <openactive-bot@users.noreply.github.com>
        author: openactive-bot <openactive-bot@users.noreply.github.com>
        signoff: false
        branch: 'lost-pixel-update/${{ github.ref_name }}'
        delete-branch: true
        title: 'Lost Pixel update - ${{ github.ref_name }}'
        body: |
          Automated baseline update PR created by Lost Pixel

          Please check the updated baseline images are as expected before merging this PR.
        labels: |
          automated pr
        draft: false

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
        
  deploy-site:
    needs: [test-site]
    if: ${{ github.repository == 'openactive/data-model-validator-site' && github.ref == 'refs/heads/master' }}
    concurrency: 
      group: validator-staging.openactive.io
      cancel-in-progress: true
    environment:
      # Matches the name of the Heroku app
      name: validator-staging.openactive.io
      url: https://validator-staging.openactive.io/
    runs-on: ubuntu-latest
    steps:
    - name: Checkout validator app
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
     
    - name: Install Heroku CLI
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh

    - name: Setup Heroku authentication
      uses: extractions/netrc@v2
      with:
        machine: git.heroku.com
        password: ${{ secrets.HEROKU_API_KEY }}
      
    - name: Deploy validator app to Heroku
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: |
        heroku git:remote --app data-model-validator-staging
        git push heroku master -f

    - name: Smoke test with Lost Pixel
      id: lp
      uses: lost-pixel/lost-pixel@v3.22.0
      env:
        LOST_PIXEL_BASE_URL: https://validator-staging.openactive.io

    - name: Upload Lost Pixel artefacts
      uses: actions/upload-artifact@v4
      if: ${{ failure() && steps.lp.conclusion == 'failure' }}
      with:
        name: lost-pixel-artefacts
        path: .lostpixel

  promote-site:
    needs: deploy-site
    if: ${{ github.repository == 'openactive/data-model-validator-site' && github.ref == 'refs/heads/master' }}
    concurrency: 
      group: validator.openactive.io
      cancel-in-progress: true
    environment:
      name: validator.openactive.io
      url: https://validator.openactive.io/
    runs-on: ubuntu-latest
    steps:
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
      - name: Promote validator app to production
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          heroku pipelines:promote --app data-model-validator-staging
